trunk/CYLTRACK/CYLTRACK_Test/AppTest/Service References/PruebaService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cilindro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Cilindro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cilindro" nillable="true" type="tns:Cilindro" />
</xs:schema>