trunk/CYLTRACK/CYLTRACK_Test/AppTest/Service References/PruebaService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PruebaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPrueba" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PruebaBE" nillable="true" type="tns:PruebaBE" />
</xs:schema>