trunk/CYLTRACK/CYLTRACK_PHONE/Service References/PedidoService/PedidoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" elementFormDefault="qualified" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1993/CYLTRACK_Services/PedidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
  <xs:element name="Registrar_Pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="pedido" nillable="true" type="q1:PedidoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Registrar_PedidoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar_Pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pedido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="Consultar_PedidoResult" nillable="true" type="q2:PedidoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar_Pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="pedido" nillable="true" type="q3:PedidoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modificar_PedidoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancelar_Pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="pedido" nillable="true" type="q4:PedidoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancelar_PedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cancelar_PedidoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarExistenciaPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pedido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarExistenciaPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarExistenciaPedidoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>