trunk/CYLTRACK/CYLTRACK_WebApp/Service References/VentaService/VentaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casos_Especiales" nillable="true" type="tns:CasosBE" />
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClienteBE" />
      <xs:element minOccurs="0" name="Contratista" nillable="true" type="tns:ContratistaBE" />
      <xs:element minOccurs="0" name="Detalle_Venta" nillable="true" type="tns:Detalle_VentaBE" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Venta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedido" nillable="true" type="tns:PedidoBE" />
      <xs:element minOccurs="0" name="Reportes" nillable="true" type="tns:ReportesBE" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaBE" nillable="true" type="tns:VentaBE" />
  <xs:complexType name="CasosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Casos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Caso" nillable="true" type="tns:Tipo_CasoBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CasosBE" nillable="true" type="tns:CasosBE" />
  <xs:complexType name="Tipo_CasoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion_Tipo_Caso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tipo_Caso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Caso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_CasoBE" nillable="true" type="tns:Tipo_CasoBE" />
  <xs:complexType name="CilindroBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fabricante" nillable="true" type="tns:FabricanteBE" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTamano" nillable="true" type="tns:TamanoBE" />
      <xs:element minOccurs="0" name="Serial_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Ubicacion" nillable="true" type="tns:Tipo_UbicacionBE" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CilindroBE" nillable="true" type="tns:CilindroBE" />
  <xs:complexType name="FabricanteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricanteBE" nillable="true" type="tns:FabricanteBE" />
  <xs:complexType name="TamanoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tamano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TamanoBE" nillable="true" type="tns:TamanoBE" />
  <xs:complexType name="Tipo_UbicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tipo_Ubica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_UbicacionBE" nillable="true" type="tns:Tipo_UbicacionBE" />
  <xs:complexType name="UbicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barrio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Ubicacion" nillable="true" type="tns:Tipo_UbicacionBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbicacionBE" nillable="true" type="tns:UbicacionBE" />
  <xs:complexType name="CiudadBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:DepartamentoBE" />
      <xs:element minOccurs="0" name="Id_Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Ciudad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadBE" nillable="true" type="tns:CiudadBE" />
  <xs:complexType name="DepartamentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Id_Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Departamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentoBE" nillable="true" type="tns:DepartamentoBE" />
  <xs:complexType name="VehiculoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_1_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_2_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ced_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cilindraje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conductor_Vehiculo" nillable="true" type="tns:Conductor_VehiculoBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="tns:RutaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiculoBE" nillable="true" type="tns:VehiculoBE" />
  <xs:complexType name="Conductor_VehiculoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conductor" nillable="true" type="tns:ConductorBE" />
      <xs:element minOccurs="0" name="Fecha_Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Conductor_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conductor_VehiculoBE" nillable="true" type="tns:Conductor_VehiculoBE" />
  <xs:complexType name="ConductorBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Conductor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_Conductor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConductorBE" nillable="true" type="tns:ConductorBE" />
  <xs:complexType name="RutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad_Ruta" nillable="true" type="tns:Ciudad_RutaBE" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:DepartamentoBE" />
      <xs:element minOccurs="0" name="Nombre_Ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RutaBE" nillable="true" type="tns:RutaBE" />
  <xs:complexType name="Ciudad_RutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Id_Ciudad_Ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad_RutaBE" nillable="true" type="tns:Ciudad_RutaBE" />
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Detalle_Venta" nillable="true" type="tns:Detalle_VentaBE" />
      <xs:element minOccurs="0" name="Id_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedido" nillable="true" type="tns:PedidoBE" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
  <xs:complexType name="Detalle_VentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casos_Especiales" nillable="true" type="tns:CasosBE" />
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Cod_Cil_Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Cil_Nuevo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Detalle_Venta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle_VentaBE" nillable="true" type="tns:Detalle_VentaBE" />
  <xs:complexType name="PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClienteBE" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle_Ped" nillable="true" type="tns:Detalle_PedidoBE" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Pedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo_Cancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="tns:RutaBE" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoBE" nillable="true" type="tns:PedidoBE" />
  <xs:complexType name="Detalle_PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="tns:TamanoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle_PedidoBE" nillable="true" type="tns:Detalle_PedidoBE" />
  <xs:complexType name="ContratistaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Contratista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratistaBE" nillable="true" type="tns:ContratistaBE" />
  <xs:complexType name="ReportesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Fecha_Reporte" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mes_Reporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion_Cilindro" nillable="true" type="tns:Ubicacion_CilindroBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportesBE" nillable="true" type="tns:ReportesBE" />
  <xs:complexType name="Ubicacion_CilindroBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Final" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Inicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ubicacion_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubicacion_CilindroBE" nillable="true" type="tns:Ubicacion_CilindroBE" />
  <xs:complexType name="ArrayOfVentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentaBE" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentaBE" nillable="true" type="tns:ArrayOfVentaBE" />
  <xs:complexType name="ArrayOfCasosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CasosBE" nillable="true" type="tns:CasosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCasosBE" nillable="true" type="tns:ArrayOfCasosBE" />
</xs:schema>