CYLTRACK/CYLTRACK_PHONE/Service References/UsuarioService/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:1993/CYLTRACK_Services/UsuarioService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:1993/CYLTRACK_Services/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1993/CYLTRACK_Services/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ConsultarCargos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCargos" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ConsultarCargos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCargosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ConsultarExistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistencia" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ConsultarExistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_Autenticacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_Autenticacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticacionResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RecuperarContrasena_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarContrasena" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RecuperarContrasena_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarContrasenaResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/RegistrarUsuario" message="tns:IUsuarioService_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/RegistrarUsuarioResponse" message="tns:IUsuarioService_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCargos">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/ConsultarCargos" message="tns:IUsuarioService_ConsultarCargos_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/ConsultarCargosResponse" message="tns:IUsuarioService_ConsultarCargos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistencia">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/ConsultarExistencia" message="tns:IUsuarioService_ConsultarExistencia_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/ConsultarExistenciaResponse" message="tns:IUsuarioService_ConsultarExistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autenticacion">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/Autenticacion" message="tns:IUsuarioService_Autenticacion_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/AutenticacionResponse" message="tns:IUsuarioService_Autenticacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarContrasena">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/RecuperarContrasena" message="tns:IUsuarioService_RecuperarContrasena_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/RecuperarContrasenaResponse" message="tns:IUsuarioService_RecuperarContrasena_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCargos">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/ConsultarCargos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistencia">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/ConsultarExistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autenticacion">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/Autenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarContrasena">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IUsuarioService/RecuperarContrasena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:1993/CYLTRACK_Services/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>