CYLTRACK/CYLTRACK_PHONE/Service References/PedidoService/PedidoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle_Ped" nillable="true" type="tns:Detalle_PedidoBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Pedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="List_Detalle_Ped" nillable="true" type="tns:ArrayOfDetalle_PedidoBE" />
      <xs:element minOccurs="0" name="Motivo_Cancel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoBE" nillable="true" type="tns:PedidoBE" />
  <xs:complexType name="Detalle_PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Pedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tamano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle_PedidoBE" nillable="true" type="tns:Detalle_PedidoBE" />
  <xs:complexType name="ArrayOfDetalle_PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detalle_PedidoBE" nillable="true" type="tns:Detalle_PedidoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalle_PedidoBE" nillable="true" type="tns:ArrayOfDetalle_PedidoBE" />
</xs:schema>