CYLTRACK/CYLTRACK_PHONE/Service References/ReporteService/ReporteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReporteService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:1993/CYLTRACK_Services/ReporteService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:1993/CYLTRACK_Services/ReporteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1993/CYLTRACK_Services/ReporteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporteService_HistoricoCilindro_InputMessage">
    <wsdl:part name="parameters" element="tns:HistoricoCilindro" />
  </wsdl:message>
  <wsdl:message name="IReporteService_HistoricoCilindro_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoricoCilindroResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultarCilInventario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCilInventario" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultarCilInventario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCilInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultaTipoUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaTipoUbicacion" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultaTipoUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaTipoUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultaTamanoCilindro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaTamanoCilindro" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultaTamanoCilindro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaTamanoCilindroResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_consultadeExistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:consultadeExistencia" />
  </wsdl:message>
  <wsdl:message name="IReporteService_consultadeExistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultadeExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultaTiposCasos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaTiposCasos" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ConsultaTiposCasos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaTiposCasosResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ReporteSiembrasCiudad_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteSiembrasCiudad" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ReporteSiembrasCiudad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteSiembrasCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ReporteSiembrasCilindro_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteSiembrasCilindro" />
  </wsdl:message>
  <wsdl:message name="IReporteService_ReporteSiembrasCilindro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteSiembrasCilindroResponse" />
  </wsdl:message>
  <wsdl:portType name="IReporteService">
    <wsdl:operation name="HistoricoCilindro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/HistoricoCilindro" message="tns:IReporteService_HistoricoCilindro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/HistoricoCilindroResponse" message="tns:IReporteService_HistoricoCilindro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCilInventario">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultarCilInventario" message="tns:IReporteService_ConsultarCilInventario_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultarCilInventarioResponse" message="tns:IReporteService_ConsultarCilInventario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaTipoUbicacion">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTipoUbicacion" message="tns:IReporteService_ConsultaTipoUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTipoUbicacionResponse" message="tns:IReporteService_ConsultaTipoUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaTamanoCilindro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTamanoCilindro" message="tns:IReporteService_ConsultaTamanoCilindro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTamanoCilindroResponse" message="tns:IReporteService_ConsultaTamanoCilindro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultadeExistencia">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/consultadeExistencia" message="tns:IReporteService_consultadeExistencia_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/consultadeExistenciaResponse" message="tns:IReporteService_consultadeExistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaTiposCasos">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTiposCasos" message="tns:IReporteService_ConsultaTiposCasos_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTiposCasosResponse" message="tns:IReporteService_ConsultaTiposCasos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteSiembrasCiudad">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ReporteSiembrasCiudad" message="tns:IReporteService_ReporteSiembrasCiudad_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ReporteSiembrasCiudadResponse" message="tns:IReporteService_ReporteSiembrasCiudad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteSiembrasCilindro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ReporteSiembrasCilindro" message="tns:IReporteService_ReporteSiembrasCilindro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ReporteSiembrasCilindroResponse" message="tns:IReporteService_ReporteSiembrasCilindro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReporteService" type="tns:IReporteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HistoricoCilindro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/HistoricoCilindro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCilInventario">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultarCilInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTipoUbicacion">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTipoUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTamanoCilindro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTamanoCilindro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultadeExistencia">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/consultadeExistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTiposCasos">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ConsultaTiposCasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteSiembrasCiudad">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ReporteSiembrasCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteSiembrasCilindro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IReporteService/ReporteSiembrasCilindro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReporteService">
    <wsdl:port name="BasicHttpBinding_IReporteService" binding="tns:BasicHttpBinding_IReporteService">
      <soap:address location="http://localhost:1993/CYLTRACK_Services/ReporteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>