CYLTRACK/CYLTRACK_PHONE/Service References/ReporteService/ReporteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51651/CYLTRACK_Services/ReporteService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfReportesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportesBE" nillable="true" type="tns:ReportesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportesBE" nillable="true" type="tns:ArrayOfReportesBE" />
  <xs:complexType name="ReportesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Fecha_Reporte" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mes_Reporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportesBE" nillable="true" type="tns:ReportesBE" />
  <xs:complexType name="CilindroBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fabricante" nillable="true" type="tns:FabricanteBE" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTamano" nillable="true" type="tns:TamanoBE" />
      <xs:element minOccurs="0" name="Serial_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CilindroBE" nillable="true" type="tns:CilindroBE" />
  <xs:complexType name="FabricanteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricanteBE" nillable="true" type="tns:FabricanteBE" />
  <xs:complexType name="TamanoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tamano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TamanoBE" nillable="true" type="tns:TamanoBE" />
  <xs:complexType name="UbicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barrio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClienteBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Direccion" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id_Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Ubicacion" nillable="true" type="tns:Tipo_UbicacionBE" />
      <xs:element minOccurs="0" name="Ubicacion_Cilindro" nillable="true" type="tns:Ubicacion_CilindroBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbicacionBE" nillable="true" type="tns:UbicacionBE" />
  <xs:complexType name="CiudadBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:DepartamentoBE" />
      <xs:element minOccurs="0" name="Id_Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Ciudad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadBE" nillable="true" type="tns:CiudadBE" />
  <xs:complexType name="DepartamentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Id_Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Departamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentoBE" nillable="true" type="tns:DepartamentoBE" />
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle_Venta" nillable="true" type="tns:Detalle_VentaBE" />
      <xs:element minOccurs="0" name="Id_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedido" nillable="true" type="tns:PedidoBE" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
  <xs:complexType name="Detalle_VentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casos_Especiales" nillable="true" type="tns:CasosBE" />
      <xs:element minOccurs="0" name="Cod_Cil_Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Cil_Nuevo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Cilindro_Entrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Cilindro_Salida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Detalle_Venta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle_VentaBE" nillable="true" type="tns:Detalle_VentaBE" />
  <xs:complexType name="CasosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Casos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Caso" nillable="true" type="tns:Tipo_CasoBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CasosBE" nillable="true" type="tns:CasosBE" />
  <xs:complexType name="Tipo_CasoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion_Tipo_Caso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tipo_Caso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Caso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_CasoBE" nillable="true" type="tns:Tipo_CasoBE" />
  <xs:complexType name="VentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClienteBE" />
      <xs:element minOccurs="0" name="Contratista" nillable="true" type="tns:ContratistaBE" />
      <xs:element minOccurs="0" name="Detalle_Venta" nillable="true" type="tns:Detalle_VentaBE" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Venta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaBE" nillable="true" type="tns:VentaBE" />
  <xs:complexType name="ContratistaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Contratista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratistaBE" nillable="true" type="tns:ContratistaBE" />
  <xs:complexType name="VehiculoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_1_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_2_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ced_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cilindraje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conductor" nillable="true" type="tns:ConductorBE" />
      <xs:element minOccurs="0" name="Conductor_Vehiculo" nillable="true" type="tns:Conductor_VehiculoBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_Prop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="tns:RutaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiculoBE" nillable="true" type="tns:VehiculoBE" />
  <xs:complexType name="ConductorBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Conductor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_Conductor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConductorBE" nillable="true" type="tns:ConductorBE" />
  <xs:complexType name="Conductor_VehiculoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conductor" nillable="true" type="tns:ConductorBE" />
      <xs:element minOccurs="0" name="Fecha_Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Conductor_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conductor_VehiculoBE" nillable="true" type="tns:Conductor_VehiculoBE" />
  <xs:complexType name="RutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Ciudad_Ruta" nillable="true" type="tns:Ciudad_RutaBE" />
      <xs:element minOccurs="0" name="Id_Ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta_Vehiculo" nillable="true" type="tns:Ruta_VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RutaBE" nillable="true" type="tns:RutaBE" />
  <xs:complexType name="Ciudad_RutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:ArrayOfCiudadBE" />
      <xs:element minOccurs="0" name="Id_Ciudad_Ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad_RutaBE" nillable="true" type="tns:Ciudad_RutaBE" />
  <xs:complexType name="ArrayOfCiudadBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CiudadBE" nillable="true" type="tns:CiudadBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCiudadBE" nillable="true" type="tns:ArrayOfCiudadBE" />
  <xs:complexType name="Ruta_VehiculoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Inicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ruta_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:ArrayOfVehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ruta_VehiculoBE" nillable="true" type="tns:Ruta_VehiculoBE" />
  <xs:complexType name="ArrayOfVehiculoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiculoBE" nillable="true" type="tns:VehiculoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculoBE" nillable="true" type="tns:ArrayOfVehiculoBE" />
  <xs:complexType name="PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:ArrayOfCilindroBE" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClienteBE" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle_Ped" nillable="true" type="tns:ArrayOfDetalle_PedidoBE" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Pedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo_Cancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="tns:RutaBE" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoBE" />
      <xs:element minOccurs="0" name="Venta" nillable="true" type="tns:VentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoBE" nillable="true" type="tns:PedidoBE" />
  <xs:complexType name="ArrayOfCilindroBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CilindroBE" nillable="true" type="tns:CilindroBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCilindroBE" nillable="true" type="tns:ArrayOfCilindroBE" />
  <xs:complexType name="ArrayOfDetalle_PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detalle_PedidoBE" nillable="true" type="tns:Detalle_PedidoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalle_PedidoBE" nillable="true" type="tns:ArrayOfDetalle_PedidoBE" />
  <xs:complexType name="Detalle_PedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" nillable="true" type="tns:TamanoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle_PedidoBE" nillable="true" type="tns:Detalle_PedidoBE" />
  <xs:complexType name="Tipo_UbicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tipo_Ubica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_UbicacionBE" nillable="true" type="tns:Tipo_UbicacionBE" />
  <xs:complexType name="Ubicacion_CilindroBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cilindro" nillable="true" type="tns:CilindroBE" />
      <xs:element minOccurs="0" name="Fecha_Final" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Inicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ubicacion_Cilindro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:UbicacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubicacion_CilindroBE" nillable="true" type="tns:Ubicacion_CilindroBE" />
  <xs:complexType name="ArrayOfUbicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UbicacionBE" nillable="true" type="tns:UbicacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbicacionBE" nillable="true" type="tns:ArrayOfUbicacionBE" />
  <xs:complexType name="ArrayOfClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBE" nillable="true" type="tns:ClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBE" nillable="true" type="tns:ArrayOfClienteBE" />
  <xs:complexType name="ArrayOfPedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoBE" nillable="true" type="tns:PedidoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoBE" nillable="true" type="tns:ArrayOfPedidoBE" />
  <xs:complexType name="ArrayOfRutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RutaBE" nillable="true" type="tns:RutaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRutaBE" nillable="true" type="tns:ArrayOfRutaBE" />
  <xs:complexType name="ArrayOfUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioBE" nillable="true" type="tns:ArrayOfUsuarioBE" />
  <xs:complexType name="UsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Mod_Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Nacim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="tns:ArrayOfPerfilBE" />
      <xs:element minOccurs="0" name="Primera_Vez" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
  <xs:complexType name="ArrayOfPerfilBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilBE" nillable="true" type="tns:PerfilBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilBE" nillable="true" type="tns:ArrayOfPerfilBE" />
  <xs:complexType name="PerfilBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilBE" nillable="true" type="tns:PerfilBE" />
</xs:schema>