CYLTRACK/CYLTRACK_WebApp/Service References/CilindroService/CilindroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CilindroService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICilindroService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/CilindroService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/CilindroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/CilindroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICilindroService_RegistrarCilindro_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCilindro" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_RegistrarCilindro_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCilindroResponse" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_ConsultarCilindro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCilindro" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_ConsultarCilindro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCilindroResponse" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_AsignarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignarUbicacion" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_AsignarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsignarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_CargueyDescargueCilindro_InputMessage">
    <wsdl:part name="parameters" element="tns:CargueyDescargueCilindro" />
  </wsdl:message>
  <wsdl:message name="ICilindroService_CargueyDescargueCilindro_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargueyDescargueCilindroResponse" />
  </wsdl:message>
  <wsdl:portType name="ICilindroService">
    <wsdl:operation name="RegistrarCilindro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/RegistrarCilindro" message="tns:ICilindroService_RegistrarCilindro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/RegistrarCilindroResponse" message="tns:ICilindroService_RegistrarCilindro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCilindro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/ConsultarCilindro" message="tns:ICilindroService_ConsultarCilindro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/ConsultarCilindroResponse" message="tns:ICilindroService_ConsultarCilindro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignarUbicacion">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/AsignarUbicacion" message="tns:ICilindroService_AsignarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/AsignarUbicacionResponse" message="tns:ICilindroService_AsignarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargueyDescargueCilindro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/CargueyDescargueCilindro" message="tns:ICilindroService_CargueyDescargueCilindro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/CargueyDescargueCilindroResponse" message="tns:ICilindroService_CargueyDescargueCilindro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICilindroService" type="tns:ICilindroService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICilindroService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCilindro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/RegistrarCilindro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCilindro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/ConsultarCilindro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignarUbicacion">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/AsignarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargueyDescargueCilindro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/ICilindroService/CargueyDescargueCilindro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CilindroService">
    <wsdl:port name="BasicHttpBinding_ICilindroService" binding="tns:BasicHttpBinding_ICilindroService">
      <soap:address location="http://localhost:51651/CYLTRACK_Services/CilindroService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>