trunk/CYLTRACK/CYLTRACK_WebApp/Service References/VehiculoService/VehiculoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VehiculoService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/VehiculoService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/VehiculoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/VehiculoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/VehiculoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehiculoService_Registrar_Vehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Vehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Registrar_Vehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_VehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Vehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Vehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Vehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_VehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Existencia_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Existencia" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Existencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_ExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Modificar_Vehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Vehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Modificar_Vehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_VehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Conductor_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Conductor" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Conductor_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_ConductorResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarPlacaSinParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPlacaSinParametro" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarPlacaSinParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPlacaSinParametroResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarPlaca_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPlaca" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarPlaca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPlacaResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehiculoService">
    <wsdl:operation name="Registrar_Vehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Registrar_Vehiculo" message="tns:IVehiculoService_Registrar_Vehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Registrar_VehiculoResponse" message="tns:IVehiculoService_Registrar_Vehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Vehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Vehiculo" message="tns:IVehiculoService_Consultar_Vehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_VehiculoResponse" message="tns:IVehiculoService_Consultar_Vehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Existencia">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Existencia" message="tns:IVehiculoService_Consultar_Existencia_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_ExistenciaResponse" message="tns:IVehiculoService_Consultar_Existencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Vehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Modificar_Vehiculo" message="tns:IVehiculoService_Modificar_Vehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Modificar_VehiculoResponse" message="tns:IVehiculoService_Modificar_Vehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Conductor">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Conductor" message="tns:IVehiculoService_Consultar_Conductor_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_ConductorResponse" message="tns:IVehiculoService_Consultar_Conductor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPlacaSinParametro">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPlacaSinParametro" message="tns:IVehiculoService_ConsultarPlacaSinParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPlacaSinParametroResponse" message="tns:IVehiculoService_ConsultarPlacaSinParametro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPlaca">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPlaca" message="tns:IVehiculoService_ConsultarPlaca_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPlacaResponse" message="tns:IVehiculoService_ConsultarPlaca_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehiculoService" type="tns:IVehiculoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar_Vehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Registrar_Vehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Vehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Vehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Existencia">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Existencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Vehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Modificar_Vehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Conductor">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Conductor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPlacaSinParametro">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPlacaSinParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPlaca">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehiculoService">
    <wsdl:port name="BasicHttpBinding_IVehiculoService" binding="tns:BasicHttpBinding_IVehiculoService">
      <soap:address location="http://localhost:3816/CYLTRACK_Services/VehiculoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>