trunk/CYLTRACK/CYLTRACK_WebApp/Service References/VehiculoService/VehiculoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VehiculoService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/VehiculoService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/VehiculoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/VehiculoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehiculoService_Registrar_Vehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Vehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Registrar_Vehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_VehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarExistenciaVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarExistenciaVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarExistenciaContratista_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaContratista" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarExistenciaContratista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaContratistaResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Modificar_Vehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Vehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Modificar_Vehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_VehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Conductor_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Conductor" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_Consultar_Conductor_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_ConductorResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarPropVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPropVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarPropVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPropVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_RegistrarConductor_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarConductor" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_RegistrarConductor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarConductorResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_RegistrarContratista_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarContratista" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_RegistrarContratista_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarContratistaResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarExistenciaConductor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaConductor" />
  </wsdl:message>
  <wsdl:message name="IVehiculoService_ConsultarExistenciaConductor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExistenciaConductorResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehiculoService">
    <wsdl:operation name="Registrar_Vehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Registrar_Vehiculo" message="tns:IVehiculoService_Registrar_Vehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Registrar_VehiculoResponse" message="tns:IVehiculoService_Registrar_Vehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarVehiculo" message="tns:IVehiculoService_ConsultarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarVehiculoResponse" message="tns:IVehiculoService_ConsultarVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistenciaVehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaVehiculo" message="tns:IVehiculoService_ConsultarExistenciaVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaVehiculoResponse" message="tns:IVehiculoService_ConsultarExistenciaVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistenciaContratista">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaContratista" message="tns:IVehiculoService_ConsultarExistenciaContratista_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaContratistaResponse" message="tns:IVehiculoService_ConsultarExistenciaContratista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Vehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Modificar_Vehiculo" message="tns:IVehiculoService_Modificar_Vehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Modificar_VehiculoResponse" message="tns:IVehiculoService_Modificar_Vehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Conductor">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Conductor" message="tns:IVehiculoService_Consultar_Conductor_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_ConductorResponse" message="tns:IVehiculoService_Consultar_Conductor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPropVehiculo">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPropVehiculo" message="tns:IVehiculoService_ConsultarPropVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPropVehiculoResponse" message="tns:IVehiculoService_ConsultarPropVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarConductor">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/RegistrarConductor" message="tns:IVehiculoService_RegistrarConductor_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/RegistrarConductorResponse" message="tns:IVehiculoService_RegistrarConductor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarContratista">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/RegistrarContratista" message="tns:IVehiculoService_RegistrarContratista_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/RegistrarContratistaResponse" message="tns:IVehiculoService_RegistrarContratista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistenciaConductor">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaConductor" message="tns:IVehiculoService_ConsultarExistenciaConductor_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaConductorResponse" message="tns:IVehiculoService_ConsultarExistenciaConductor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehiculoService" type="tns:IVehiculoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar_Vehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Registrar_Vehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarVehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistenciaVehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistenciaContratista">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaContratista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Vehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Modificar_Vehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Conductor">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/Consultar_Conductor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPropVehiculo">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarPropVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarConductor">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/RegistrarConductor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarContratista">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/RegistrarContratista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarExistenciaConductor">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IVehiculoService/ConsultarExistenciaConductor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehiculoService">
    <wsdl:port name="BasicHttpBinding_IVehiculoService" binding="tns:BasicHttpBinding_IVehiculoService">
      <soap:address location="http://localhost:51651/CYLTRACK_Services/VehiculoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>