CYLTRACK/CYLTRACK_Test/AppTest/Service References/PruebaService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51651/CYLTRACK_Services/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
  <xs:element name="CrearPrueba">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="prueba" nillable="true" type="q1:PruebaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPruebaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPruebaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPruebas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrueba" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPruebasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="ConsultarPruebasResult" nillable="true" type="q2:ArrayOfPruebaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPrueba">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="prueba" nillable="true" type="q3:PruebaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPruebaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarPruebaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>