CYLTRACK/CYLTRACK_WebApp/Service References/PedidoService/PedidoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/PedidoService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/PedidoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/PedidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
      <xsd:import schemaLocation="http://localhost:3816/CYLTRACK_Services/PedidoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoService_Registrar_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Pedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Registrar_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_PedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Consultar_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Pedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Consultar_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_PedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Consultar_Existencia_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Existencia" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Consultar_Existencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_ExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Modificar_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Pedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Modificar_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_PedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Cancelar_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancelar_Pedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_Cancelar_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:Cancelar_PedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoService">
    <wsdl:operation name="Registrar_Pedido">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Registrar_Pedido" message="tns:IPedidoService_Registrar_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Registrar_PedidoResponse" message="tns:IPedidoService_Registrar_Pedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Pedido">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Consultar_Pedido" message="tns:IPedidoService_Consultar_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Consultar_PedidoResponse" message="tns:IPedidoService_Consultar_Pedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Existencia">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Consultar_Existencia" message="tns:IPedidoService_Consultar_Existencia_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Consultar_ExistenciaResponse" message="tns:IPedidoService_Consultar_Existencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Pedido">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Modificar_Pedido" message="tns:IPedidoService_Modificar_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Modificar_PedidoResponse" message="tns:IPedidoService_Modificar_Pedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancelar_Pedido">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Cancelar_Pedido" message="tns:IPedidoService_Cancelar_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Cancelar_PedidoResponse" message="tns:IPedidoService_Cancelar_Pedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoService" type="tns:IPedidoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar_Pedido">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Registrar_Pedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Pedido">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Consultar_Pedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Existencia">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Consultar_Existencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Pedido">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Modificar_Pedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar_Pedido">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IPedidoService/Cancelar_Pedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoService">
    <wsdl:port name="BasicHttpBinding_IPedidoService" binding="tns:BasicHttpBinding_IPedidoService">
      <soap:address location="http://localhost:3816/CYLTRACK_Services/PedidoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>