CYLTRACK/CYLTRACK_PHONE/Service References/VentaService/VentaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" elementFormDefault="qualified" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1993/CYLTRACK_Services/VentaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
  <xs:element name="RegistrarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="ventas" nillable="true" type="q1:VentaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarVentaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarExistenciaVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ventas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarExistenciaVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarExistenciaVentaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datoConsulta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="ConsultarVentaResult" nillable="true" type="q2:VentaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevisionCasosEspeciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="casos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevisionCasosEspecialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="RevisionCasosEspecialesResult" nillable="true" type="q3:ArrayOfCasosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasosEspeciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="casos" nillable="true" type="q4:CasosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasosEspecialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasosEspecialesResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" minOccurs="0" name="detVenta" nillable="true" type="q5:Detalle_VentaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarVentaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>