trunk/CYLTRACK/CYLTRACK_WebApp/Service References/RutaService/RutaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad_Ruta" nillable="true" type="tns:Ciudad_RutaBE" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:DepartamentoBE" />
      <xs:element minOccurs="0" name="Nombre_Ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RutaBE" nillable="true" type="tns:RutaBE" />
  <xs:complexType name="Ciudad_RutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Id_Ciudad_Ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad_RutaBE" nillable="true" type="tns:Ciudad_RutaBE" />
  <xs:complexType name="CiudadBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:DepartamentoBE" />
      <xs:element minOccurs="0" name="Id_Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Ciudad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadBE" nillable="true" type="tns:CiudadBE" />
  <xs:complexType name="DepartamentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadBE" />
      <xs:element minOccurs="0" name="Id_Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Departamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentoBE" nillable="true" type="tns:DepartamentoBE" />
  <xs:complexType name="ArrayOfRutaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RutaBE" nillable="true" type="tns:RutaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRutaBE" nillable="true" type="tns:ArrayOfRutaBE" />
</xs:schema>