trunk/CYLTRACK/CYLTRACK_WebApp/Service References/RutaService/RutaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://servicios.cyltrack.com.co/cyltrack/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RutaService" targetNamespace="http://servicios.cyltrack.com.co/cyltrack/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.cyltrack.com.co/cyltrack/Imports">
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/RutaService.svc?xsd=xsd0" namespace="http://servicios.cyltrack.com.co/cyltrack/" />
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/RutaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51651/CYLTRACK_Services/RutaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Unisangil.CYLTRACK.CYLTRACK_BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRutaServices_RegistrarRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarRuta" />
  </wsdl:message>
  <wsdl:message name="IRutaServices_RegistrarRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarRutaResponse" />
  </wsdl:message>
  <wsdl:message name="IRutaServices_ModificarRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarRuta" />
  </wsdl:message>
  <wsdl:message name="IRutaServices_ModificarRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarRutaResponse" />
  </wsdl:message>
  <wsdl:message name="IRutaServices_ConsultarRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarRuta" />
  </wsdl:message>
  <wsdl:message name="IRutaServices_ConsultarRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarRutaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRutaServices">
    <wsdl:operation name="RegistrarRuta">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/RegistrarRuta" message="tns:IRutaServices_RegistrarRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/RegistrarRutaResponse" message="tns:IRutaServices_RegistrarRuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarRuta">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/ModificarRuta" message="tns:IRutaServices_ModificarRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/ModificarRutaResponse" message="tns:IRutaServices_ModificarRuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarRuta">
      <wsdl:input wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/ConsultarRuta" message="tns:IRutaServices_ConsultarRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/ConsultarRutaResponse" message="tns:IRutaServices_ConsultarRuta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRutaServices" type="tns:IRutaServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarRuta">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/RegistrarRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarRuta">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/ModificarRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRuta">
      <soap:operation soapAction="http://servicios.cyltrack.com.co/cyltrack/IRutaServices/ConsultarRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RutaService">
    <wsdl:port name="BasicHttpBinding_IRutaServices" binding="tns:BasicHttpBinding_IRutaServices">
      <soap:address location="http://localhost:51651/CYLTRACK_Services/RutaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>